<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
        <div id="appNavBar">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img v-bind:src="logo" width="auto">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a v-for="item in navbarItems" class="navbar-item">
                  ***REMOVED******REMOVED*** item.text ***REMOVED******REMOVED***
                </a>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>***REMOVED******REMOVED*** signup ***REMOVED******REMOVED***</strong>
                    </a>
                    <a class="button is-light">
                      ***REMOVED******REMOVED*** login ***REMOVED******REMOVED***
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </nav>
        </div>
        <div id="appCompanyTitle">
            <h1 class="title is-1">***REMOVED******REMOVED*** company ***REMOVED******REMOVED***</h1>
        </div>
        <div id="appFeaturedCourses">
        <h2 class="title is-2">***REMOVED******REMOVED*** featuredCoursesTitle ***REMOVED******REMOVED***</h2>
        <div class="tile is-ancestor">
            <div v-for="course in featuredCourses" class="tile is-4">
                <div class="card">
                <div class="card-image">
                    <figure class="image">
                    <img v-bind:src="course.img" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img v-bind:src="course.author.img" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">***REMOVED******REMOVED*** course.author.name ***REMOVED******REMOVED***</p>
                            <p class="subtitle is-6">***REMOVED******REMOVED*** course.author.title ***REMOVED******REMOVED***</p>
                        </div>
                    </div>
                    <div class="content">
                        ***REMOVED******REMOVED*** course.description ***REMOVED******REMOVED***
                    </div>
                    <div class="action">
                        <a class="button is-primary">
                            Enroll
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </section>
  <script type="text/javascript" src="./static/home.js"></script>
  </body>
</html>